In [114]:
import numpy as np
import pandas as pd

In [115]:
master_titanic = pd.read_csv(r"D:\PG-DAI\MachineLearning\Dec 20 Decision Trees\Titanic.csv")

In [116]:
master_titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [117]:
x_master = master_titanic.iloc[:, [2,4,5,6,7,9]]

In [118]:
x_master

     Pclass     Sex   Age  SibSp  Parch     Fare
0         3    male  22.0      1      0   7.2500
1         1  female  38.0      1      0  71.2833
2         3  female  26.0      0      0   7.9250
3         1  female  35.0      1      0  53.1000
4         3    male  35.0      0      0   8.0500
..      ...     ...   ...    ...    ...      ...
886       2    male  27.0      0      0  13.0000
887       1  female  19.0      0      0  30.0000
888       3  female   NaN      1      2  23.4500
889       1    male  26.0      0      0  30.0000
890       3    male  32.0      0      0   7.7500

[891 rows x 6 columns]

In [119]:
x = x_master.join(pd.get_dummies(x_master.Sex))

In [120]:
del x['male']
del x['Sex']

In [121]:
x['Survived'] =master_titanic['Survived']

In [122]:

from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split funct
from sklearn import metrics
import matplotlib.pyplot as plt

In [123]:
x['Age'].replace(to_replace=np.nan, value=x.Age.mean(), inplace=True, limit=None, regex=False, method='pad')

In [124]:
x.isna().value_counts()

Pclass  Age    SibSp  Parch  Fare   female  Survived
False   False  False  False  False  False   False       891
dtype: int64

In [125]:
X_train, X_test, y_train, y_test = train_test_split(x.loc[:,x.columns != 'Survived'], x['Survived'], test_size=0.25, random_state=42)

In [126]:
clf = DecisionTreeClassifier().fit(X_train, y_train)

In [127]:
y_pred = clf.predict(X_test)

In [128]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7354260089686099

In [129]:
from sklearn.model_selection import GridSearchCV

gd= GridSearchCV(clf,{'max_depth':[3,4,5,6,7,8,9,10],'criterion':['gini','entropy']},cv=10)

In [130]:
gd.fit(X_train,y_train)

GridSearchCV(cv=10, estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [3, 4, 5, 6, 7, 8, 9, 10]})

In [131]:
print(gd.best_params_)
print(gd.best_score_)

{'criterion': 'entropy', 'max_depth': 4}
0.8278833107191316