In [11]:
# Load libraries
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
import matplotlib.pyplot as plt

In [52]:
data = pd.read_csv("D:/Machine Learning/KNN/train_loan.csv")

In [53]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [54]:
data.drop(['Loan_ID'],axis=1,inplace=True)

In [55]:
column_objects = [col for col in data.columns if data[col].dtypes == 'object']

In [56]:
column_objects

['Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'Property_Area',
 'Loan_Status']

In [57]:
data.isnull().sum()

Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [58]:
total_missing_values = data.isnull().sum()

In [59]:
total_missing_values.sum()

149

In [60]:
np.product(data.shape)

7368

In [61]:
total_percentage = total_missing_values.sum() / np.product(data.shape) * 100
total_percentage

2.022258414766558

In [62]:
data.dropna(axis=0, inplace=True)

In [63]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
data[column_objects] = data[column_objects].apply(labelencoder.fit_transform)

In [64]:
X = data.drop(['Loan_Status'],axis=1)
y = data['Loan_Status']

In [65]:
X

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
1,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0
2,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2
3,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2
4,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2
5,1,1,2,0,1,5417,4196.0,267.0,360.0,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,0,0,0,2900,0.0,71.0,360.0,1.0,0
610,1,1,3,0,0,4106,0.0,40.0,180.0,1.0,0
611,1,1,1,0,0,8072,240.0,253.0,360.0,1.0,2
612,1,1,2,0,0,7583,0.0,187.0,360.0,1.0,2
613,0,0,0,0,1,4583,0.0,133.0,360.0,0.0,1

In [66]:
y

1      0
2      1
3      1
4      1
5      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 480, dtype: int32

In [67]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

In [68]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier()

In [69]:
dtree.fit(X_train,y_train)

DecisionTreeClassifier()

In [70]:
predictions = dtree.predict(X_test)

In [71]:
from sklearn.metrics import accuracy_score
print("Accuracy for decision tree:",accuracy_score(predictions,y_test))

Accuracy for decision tree: 0.7430555555555556

In [72]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=100)

In [73]:
rfc.fit(X_train,y_train)

RandomForestClassifier()

In [74]:
rfc_pred = rfc.predict(X_test)

In [75]:
y_test

64     0
269    1
307    0
55     1
545    1
      ..
441    1
285    1
175    1
397    1
183    0
Name: Loan_Status, Length: 144, dtype: int32

In [76]:
rfc_pred

array([0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1])

In [77]:
accuracy_score(y_test, rfc_pred)

0.8541666666666666

In [79]:

feature_importance=pd.DataFrame({

    'rfc_pred':rfc.feature_importances_,

    'dt':dt.feature_importances_

},index=df.drop(columns=['Loan_ID','Loan_Status']).columns)

feature_importance.sort_values(by='rfc',ascending=True,inplace=True) index = np.arange(len(feature_importance))

fig, ax = plt.subplots(figsize=(18,8))

rfc_feature=ax.barh(index,feature_importance['rfc'],0.4,color='purple',label='Random Forest')

dt_feature=ax.barh(index+0.4,feature_importance['dt'],0.4,color='lightgreen',label='Decision Tree')

ax.set(yticks=index+0.4,yticklabels=feature_importance.index) ax.legend()

plt.show()

SyntaxError: invalid character in identifier (<ipython-input-79-3d4cc83a581f>, line 3)